html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Mega Sans J,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  background-color: var(--stTropaz);
  color: var(--goldenTainoi);
}

[data-cursor-magnet] {
  padding: 10px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;

  cursor: url("/cursor.png"), auto;
}
